* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10px;
    background-color: #333;
    color: white;
}

.nav-left {
    margin:10px;
    padding: 10px;
    font-size: 18px;
}

.nav-right {
list-style-type: none;
margin: 10px;
padding: 10px;
display: flex;

}

.nav-right li {
    margin-left: 20px;
}

.nav-right a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-right a:hover {
    text-decoration: underline;
    color: #f1c40f;
}

.nav-right a.active {
    font-weight: bold;
    color: #f1c40f;
}

.content {
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.container {
    padding: 20px;
}


